<div class="well">
<div class="row">
  <div class="col-md-12">
    <span class="pull-right"><%= time_ago_in_words(comment.created_at)%> ago</span>
    <br>
     <p>&nbsp;&nbsp;<%= comment.body %></p></span>
     <% if comment.user_id == current_user.id %> 
     <%= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close' %>
     <% end %>
  </div>
</div>
</div>